<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.au.mad21spring.group20.knittybuddy">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/knittybuddy_launcher_pink"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/knittybuddy_launcher_pink_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnittyBuddy">
        <activity android:name=".Inspiration.InspirationDetailActivity"></activity>
        <activity android:name=".Inspiration.InspirationListActivity" />
        <activity android:name=".Feed.FeedActivity" />
        <activity android:name=".Project.ProjectEditActivity" />
        <activity android:name=".Project.ProjectDetailsActivity" />
        <activity android:name=".Project.ProjectListActivity" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>